.todo-form{   
    padding:10px 0 10px 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: cadetblue;
    color:black;
    
}

.step-form-container{
    width: 350px;
}

.step-form{
    min-width: fit-content;
    background-color: lightgrey;
}


.btn{
    margin:5px;
}
.main{
    margin: auto;
    width: 50%;
}

h1{
    text-align: center;
} 

.form-control{
    width: 70%;
    margin: auto;
}

label{
    margin-left: 50%;
}

.btn-create-todo{       
    margin-left: 42%;
}

.todo-body{
    margin-left:1%;
}

.todo-list-items {
    display: table !important;   
    /* margin: auto; */
    margin-top: 1%; 
    max-width: 465px;
    height: 5em;   
    background-color: lightblue; 
    
}

.toggle-done-button{    
    z-index: 1000;
    float: right;
}

.step-item-container{
    float: left;
    width: 365px;   
}

.btn-step-submit{
    float:right;
    position: relative;
    top: -44px;
    left: 40px;
}

/* #root > div > div > div:nth-child(3) > div > div:nth-child(n){
    position: static !important;
} */
.todos-col{
    position: static !important;
}